@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1300px;
  background-color: #fafafa;
  font-family: "Rubik", sans-serif;
}
.menu-btn {
  margin: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 2.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: $main-color;
  font-size: 1rem;
  font-weight: bold;

  &__burguer {
    width: 40px;
    height: 4px;
    background: $main-color;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
    margin: 0.2rem;
  }
}

.menu-btn__burguer::before,
.menu-btn__burguer::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: $main-color;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.1);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burguer::before {
  transform: translateY(-14px);
}
.menu-btn__burguer::after {
  transform: translateY(14px);
}

.menu-btn.open .menu-btn__burguer {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burguer::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burguer::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  img {
    width: 3rem;
    margin-right: 2.5rem;
  }
}
.aside {
  width: 100%;
  background-color: #fafafa;
  display: none;
  transition: all 0.5s ease-in-out;
  margin: 0.5rem;
  text-align: center;
  position: fixed;
  z-index: 1;
  height: 100vh;
}
.aside-items {
  list-style: none;
  font-size: 1.5rem;
  i {
    font-size: 1.5rem;
    margin: 0.5rem;
  }
}
.item {
  height: 5rem;
  padding-top: 1.5rem;
  border-bottom: 3px solid $transparent-main-color;

  a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
  }
}

.open {
  display: block;
}
main {
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  h1,
  p {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  button {
    margin: 0.5rem;
    width: 8rem;
    padding: 0.5rem;
    height: 2.5rem;
    font-family: inherit;
    border-radius: 5px;
    background-color: $transparent-secondary-color;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    color: black;
    box-shadow: 5px 5px 5px rgba(17, 17, 17, 0.3);
    border: 3px solid $secondary-color;
  }
}
.actividad {
  margin-top: 3rem;
  ul {
    list-style: none;
  }
  .actividad-items {
    margin-left: 0.5rem;
    text-align: left;
    margin-top: 1.5rem;
  }
  .actividad-item {
    width: 95%;
    height: 3rem;

    border-bottom: 3px solid $transparent-main-color;
    padding-top: 1.2rem;
    font-size: 0.8rem;
  }
  .fa-arrow-circle-right {
    color: red;
    font-size: 1rem;
  }
  .fa-arrow-circle-left {
    color: green;
    font-size: 1rem;
  }
  a {
    text-decoration: none;
    color: lightgray;
  }
  .fa-info-circle {
    color: lightgray;
    font-size: 0.9rem;
  }
  button {
    margin: 1rem;
    width: 7rem;
    padding: 0.5rem;
    height: 2.5rem;
    font-family: inherit;
    border-radius: 5px;
    background-color: $transparent-main-color;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    color: black;
    box-shadow: 5px 5px 5px rgba(17, 17, 17, 0.3);
    border: 3px solid $main-color;
  }
}

.graphic {
  text-align: center;
  canvas {
    width: 60%;
  }
}

@media (min-width: 600px) {
  .aside {
    width: 30%;
  }
  main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .tu-plata {
      padding-top: 7rem;
      width: 40%;
      height: 400px;
      box-shadow: 5px 5px 5px rgba(17, 17, 17, 0.3);
      border-radius: 15px;
    }
    .actividad {
      margin-top: 0;
      width: 40%;
      height: 400px;
      box-shadow: 5px 5px 5px rgba(17, 17, 17, 0.3);
      border-radius: 15px;
      button {
        margin-top: 2rem;
      }
    }
  }
  .graphic {
    width: 30%;
    text-align: center;
    margin: auto;
  }
}
